.draggableDailogWrapper {
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  box-shadow: 5px 5px 5px rgb(112, 112, 112);
  margin-bottom: 5px;
}

.listItem {
  padding-left: 8px;
}

.listIcon{
  margin-right: 8px;
}

.dialogContainer {
  padding: 24px;
}

.popupButtonContainer {
  display: flex;
  padding-top: 16px;
}

.popupButton {
  margin: auto;
}

.title {
  margin: 0;
}